Repository aws/s2n-quic: changes, and which Codecov flags are due for each by the changed paths.
All: unit-tests, compliance

codecov.yml:

coverage:
  status:
    project:
      default: off
      unit-tests:
        target: auto
        flags:
          - unit-tests
      compliance:
        target: auto
        flags:
          - compliance
    patch:
      default: off
      unit-tests:
        target: auto
        flags:
          - unit-tests
      compliance:
        target: auto
        flags:
          - compliance 
flags:
  unit-tests:
    paths:
      - common/*/src/**/*.rs
      - quic/*/src/**/*.rs
  compliance:
    paths:
      - specs/**/*.spec
ignore:
  - common/compliance/**/*
  - '**/tests.rs'
  - '**/tests/**'
  - '**/test/**'
  - '**/testing/**'
  - '**/testing.rs'

Limit adjustment to CongestionAvoidance start time to the period since entering congestion avoidance.
  quic/s2n-quic-transport/src/recovery/cubic.rs
  quic/s2n-quic-transport/src/recovery/hybrid_slow_start.rs
Due: unit-tests

Limit adjustment to CongestionAvoidance start time to the period since entering congestion avoidance. (#184)
  quic/s2n-quic-transport/src/recovery/cubic.rs
  quic/s2n-quic-transport/src/recovery/hybrid_slow_start.rs
Due: unit-tests

Add a test that panics if on_packet_sent does not adjust the congestion avoidance start time appropriately
  quic/s2n-quic-transport/src/recovery/cubic.rs
Due: unit-tests

interop: generate a report
  .github/workflows/interop-report.py
  .github/workflows/interop.yml
Due: none

add interop assets to repo
  .github/interop/index.html
  .github/interop/merge.py
  .github/interop/script.js
  .github/interop/styles.css
  .github/workflows/interop.yml
Due: none

remove fork ribbon
  .github/interop/index.html
Due: none

Set k to zero when exiting slow start
  quic/s2n-quic-transport/src/recovery/cubic.rs
Due: unit-tests

interop: generate a report (#186)
  .github/interop/index.html
  .github/interop/merge.py
  .github/interop/script.js
  .github/interop/styles.css
  .github/workflows/interop.yml
Due: none

Add a test that panics if on_packet_sent does not adjust the congestion avoidance start time appropriately (#185)
  quic/s2n-quic-transport/src/recovery/cubic.rs
Due: unit-tests

Set k to zero when exiting slow start (#187)
  quic/s2n-quic-transport/src/recovery/cubic.rs
Due: unit-tests

Moving pto_backoff to the Path and wiring path through to recovery manager on_timeout() so the manager can call congestion controller on_packets_lost()
  quic/s2n-quic-core/src/path.rs
  quic/s2n-quic-transport/src/connection/connection_impl.rs
  quic/s2n-quic-transport/src/recovery/manager.rs
  quic/s2n-quic-transport/src/space/application.rs
  quic/s2n-quic-transport/src/space/handshake.rs
  quic/s2n-quic-transport/src/space/initial.rs
  quic/s2n-quic-transport/src/space/mod.rs
  quic/s2n-quic-transport/src/space/session_context.rs
Due: unit-tests

ci: upload interop report to s3
  .github/interop/index.body.html
  .github/interop/index.head.html
  .github/interop/index.html
  .github/interop/styles.css
  .github/workflows/interop.yml
Due: none

Updating PTO timer when a packet is sent and removing more usage of Loss Info
  quic/s2n-quic-core/src/recovery/loss_info.rs
  quic/s2n-quic-transport/src/connection/connection_impl.rs
  quic/s2n-quic-transport/src/recovery/manager.rs
  quic/s2n-quic-transport/src/space/application.rs
  quic/s2n-quic-transport/src/space/handshake.rs
  quic/s2n-quic-transport/src/space/initial.rs
  quic/s2n-quic-transport/src/space/mod.rs
Due: unit-tests

Remove bytes_in_flight and persistent_congestion_duration from LossInfo
  quic/s2n-quic-core/src/recovery/congestion_controller.rs
  quic/s2n-quic-core/src/recovery/loss_info.rs
  quic/s2n-quic-transport/src/recovery/cubic.rs
  quic/s2n-quic-transport/src/recovery/manager.rs
Due: unit-tests

Remove LossInfo
  quic/s2n-quic-core/src/recovery/congestion_controller.rs
  quic/s2n-quic-core/src/recovery/loss_info.rs
  quic/s2n-quic-core/src/recovery/mod.rs
  quic/s2n-quic-transport/src/connection/connection_impl.rs
  quic/s2n-quic-transport/src/recovery/cubic.rs
  quic/s2n-quic-transport/src/recovery/manager.rs
  quic/s2n-quic-transport/src/space/application.rs
  quic/s2n-quic-transport/src/space/handshake.rs
  quic/s2n-quic-transport/src/space/initial.rs
  quic/s2n-quic-transport/src/space/mod.rs
Due: unit-tests

Fix format issue
  quic/s2n-quic-transport/src/recovery/manager.rs
Due: unit-tests

ci: upload interop report to s3 (#196)
  .github/interop/index.body.html
  .github/interop/index.head.html
  .github/interop/index.html
  .github/interop/styles.css
  .github/workflows/interop.yml
Due: none

Remove Loss Info (#202)
  quic/s2n-quic-core/src/path.rs
  quic/s2n-quic-core/src/recovery/congestion_controller.rs
  quic/s2n-quic-core/src/recovery/loss_info.rs
  quic/s2n-quic-core/src/recovery/mod.rs
  quic/s2n-quic-transport/src/connection/connection_impl.rs
  quic/s2n-quic-transport/src/recovery/cubic.rs
  quic/s2n-quic-transport/src/recovery/manager.rs
  quic/s2n-quic-transport/src/space/application.rs
  quic/s2n-quic-transport/src/space/handshake.rs
  quic/s2n-quic-transport/src/space/initial.rs
  quic/s2n-quic-transport/src/space/mod.rs
  quic/s2n-quic-transport/src/space/session_context.rs
Due: unit-tests

Update PTO timer when amplification limit is unblocked
  quic/s2n-quic-core/src/path.rs
  quic/s2n-quic-transport/src/connection/connection_impl.rs
  quic/s2n-quic-transport/src/path.rs
  quic/s2n-quic-transport/src/space/application.rs
  quic/s2n-quic-transport/src/space/handshake.rs
  quic/s2n-quic-transport/src/space/initial.rs
  quic/s2n-quic-transport/src/space/mod.rs
Due: unit-tests

Switch server check to a debug assert
  quic/s2n-quic-transport/src/space/application.rs
  quic/s2n-quic-transport/src/space/handshake.rs
  quic/s2n-quic-transport/src/space/initial.rs
Due: unit-tests

Update PTO timer when amplification limit is unblocked (#203)
  quic/s2n-quic-core/src/path.rs
  quic/s2n-quic-transport/src/connection/connection_impl.rs
  quic/s2n-quic-transport/src/path.rs
  quic/s2n-quic-transport/src/space/application.rs
  quic/s2n-quic-transport/src/space/handshake.rs
  quic/s2n-quic-transport/src/space/initial.rs
  quic/s2n-quic-transport/src/space/mod.rs
Due: unit-tests

transport: move handshake status to space manager
  quic/s2n-quic-transport/src/connection/connection_impl.rs
  quic/s2n-quic-transport/src/connection/shared_state.rs
  quic/s2n-quic-transport/src/connection/transmission.rs
  quic/s2n-quic-transport/src/recovery/manager.rs
  quic/s2n-quic-transport/src/space/application.rs
  quic/s2n-quic-transport/src/space/handshake.rs
  quic/s2n-quic-transport/src/space/initial.rs
  quic/s2n-quic-transport/src/space/mod.rs
  quic/s2n-quic-transport/src/space/session_context.rs
Due: unit-tests

Only call on_packets_lost if packets were lost
  quic/s2n-quic-core/src/recovery/congestion_controller.rs
  quic/s2n-quic-transport/src/recovery/cubic.rs
  quic/s2n-quic-transport/src/recovery/manager.rs
Due: unit-tests

Only call on_packets_lost if packets were lost (#205)
  quic/s2n-quic-core/src/recovery/congestion_controller.rs
  quic/s2n-quic-transport/src/recovery/cubic.rs
  quic/s2n-quic-transport/src/recovery/manager.rs
Due: unit-tests

transport: move handshake status to space manager (#204)
  quic/s2n-quic-transport/src/connection/connection_impl.rs
  quic/s2n-quic-transport/src/connection/shared_state.rs
  quic/s2n-quic-transport/src/connection/transmission.rs
  quic/s2n-quic-transport/src/recovery/manager.rs
  quic/s2n-quic-transport/src/space/application.rs
  quic/s2n-quic-transport/src/space/handshake.rs
  quic/s2n-quic-transport/src/space/initial.rs
  quic/s2n-quic-transport/src/space/mod.rs
  quic/s2n-quic-transport/src/space/session_context.rs
Due: unit-tests

transport: fix initial path manager size
  quic/s2n-quic-transport/src/path.rs
Due: unit-tests

transport: fix initial path manager size (#206)
  quic/s2n-quic-transport/src/path.rs
Due: unit-tests

transport: make stream::Send::finish a sync call
  quic/s2n-quic-qns/src/server.rs
  quic/s2n-quic-transport/src/stream/api.rs
  quic/s2n-quic/src/stream/send.rs
Due: unit-tests

transport: make stream::Send::finish a sync call (#207)
  quic/s2n-quic-qns/src/server.rs
  quic/s2n-quic-transport/src/stream/api.rs
  quic/s2n-quic/src/stream/send.rs
Due: unit-tests

Don't change the congestion window if the target window is smaller than the current window.
  quic/s2n-quic-transport/src/recovery/cubic.rs
Due: unit-tests

Add link to issue
  quic/s2n-quic-transport/src/recovery/cubic.rs
Due: unit-tests

Don't change the congestion window if the target is smaller than the current window (#208)
  quic/s2n-quic-transport/src/recovery/cubic.rs
Due: unit-tests

compliance: update tls references to draft 32
  quic/s2n-quic-core/src/crypto/header_crypto.rs
  quic/s2n-quic-core/src/crypto/initial.rs
  quic/s2n-quic-core/src/crypto/label.rs
  quic/s2n-quic-core/src/crypto/packet_protection.rs
  quic/s2n-quic-core/src/transport/error.rs
  quic/s2n-quic-ring/src/ciphersuite/mod.rs
  quic/s2n-quic-ring/src/ciphersuite/negotiated.rs
  quic/s2n-quic-ring/src/negotiated.rs
  quic/s2n-quic-transport/src/connection/connection_impl.rs
  quic/s2n-quic-transport/src/connection/transmission.rs
  quic/s2n-quic-transport/src/endpoint/initial.rs
  quic/s2n-quic-transport/src/path.rs
  quic/s2n-quic-transport/src/space/handshake_status.rs
  quic/s2n-quic-transport/src/space/session_context.rs
  quic/s2n-quic/src/provider/token/default.rs
  specs/tools.ietf.org/id/draft-ietf-quic-recovery-30.spec
  specs/tools.ietf.org/id/draft-ietf-quic-recovery-31.spec
  specs/tools.ietf.org/id/draft-ietf-quic-recovery-32.spec
  specs/tools.ietf.org/id/draft-ietf-quic-tls-22.spec
  specs/tools.ietf.org/id/draft-ietf-quic-tls-24.spec
  specs/tools.ietf.org/id/draft-ietf-quic-tls-27.spec
  specs/tools.ietf.org/id/draft-ietf-quic-tls-32.spec
  specs/tools.ietf.org/id/draft-ietf-quic-transport-32.spec
  specs/tools.ietf.org/rfc/rfc8312.spec
Due: unit-tests, compliance

interop: patch runner
  .github/interop/runner.patch
  .github/workflows/interop.yml
Due: none

interop: patch runner (#211)
  .github/interop/runner.patch
  .github/workflows/interop.yml
Due: none

compliance: update transport draft 22 to draft 32
  quic/s2n-quic-core/src/packet/handshake.rs
  quic/s2n-quic-core/src/packet/initial.rs
  quic/s2n-quic-core/src/packet/long.rs
  quic/s2n-quic-core/src/packet/number/mod.rs
  quic/s2n-quic-core/src/packet/retry.rs
  quic/s2n-quic-core/src/packet/short.rs
  quic/s2n-quic-core/src/packet/version_negotiation.rs
  quic/s2n-quic-core/src/packet/zero_rtt.rs
  quic/s2n-quic-transport/src/buffer/receive_buffer.rs
  quic/s2n-quic-transport/src/connection/connection_impl.rs
  specs/tools.ietf.org/id/draft-ietf-quic-transport-22.spec
Due: unit-tests, compliance

compliance: update draft 24 to draft 32
  quic/s2n-quic-core/src/application/error_code.rs
  quic/s2n-quic-core/src/connection/id.rs
  quic/s2n-quic-core/src/stateless_reset_token.rs
  quic/s2n-quic-core/src/stream/id.rs
  quic/s2n-quic-transport/src/connection/connection_impl.rs
  quic/s2n-quic-transport/src/stream/receive_stream.rs
  quic/s2n-quic-transport/src/stream/send_stream.rs
  specs/tools.ietf.org/id/draft-ietf-quic-transport-24.spec
Due: unit-tests, compliance

Track non ack-eliciting packets
  quic/s2n-quic-core/src/frame/ack_elicitation.rs
  quic/s2n-quic-core/src/recovery/congestion_controller.rs
  quic/s2n-quic-transport/src/recovery/manager.rs
  quic/s2n-quic-transport/src/recovery/sent_packets.rs
Due: unit-tests

Fix formatting issue and test
  quic/s2n-quic-transport/src/recovery/manager.rs
  quic/s2n-quic-transport/src/recovery/sent_packets.rs
Due: unit-tests

Track non-ack eliciting packets (#215)
  quic/s2n-quic-core/src/frame/ack_elicitation.rs
  quic/s2n-quic-core/src/recovery/congestion_controller.rs
  quic/s2n-quic-transport/src/recovery/manager.rs
  quic/s2n-quic-transport/src/recovery/sent_packets.rs
Due: unit-tests
