Repository aws/s2n-quic: changes, and which Codecov flags are due for each by the changed paths.
All: unit-tests, compliance

compliance: update tls references to draft 32 (#210)
  quic/s2n-quic-core/src/crypto/header_crypto.rs
  quic/s2n-quic-core/src/crypto/initial.rs
  quic/s2n-quic-core/src/crypto/label.rs
  quic/s2n-quic-core/src/crypto/packet_protection.rs
  quic/s2n-quic-core/src/transport/error.rs
  quic/s2n-quic-ring/src/ciphersuite/mod.rs
  quic/s2n-quic-ring/src/ciphersuite/negotiated.rs
  quic/s2n-quic-ring/src/negotiated.rs
  quic/s2n-quic-transport/src/connection/connection_impl.rs
  quic/s2n-quic-transport/src/connection/transmission.rs
  quic/s2n-quic-transport/src/endpoint/initial.rs
  quic/s2n-quic-transport/src/path.rs
  quic/s2n-quic-transport/src/space/handshake_status.rs
  quic/s2n-quic-transport/src/space/session_context.rs
  quic/s2n-quic/src/provider/token/default.rs
  specs/tools.ietf.org/id/draft-ietf-quic-recovery-30.spec
  specs/tools.ietf.org/id/draft-ietf-quic-recovery-31.spec
  specs/tools.ietf.org/id/draft-ietf-quic-recovery-32.spec
  specs/tools.ietf.org/id/draft-ietf-quic-tls-22.spec
  specs/tools.ietf.org/id/draft-ietf-quic-tls-24.spec
  specs/tools.ietf.org/id/draft-ietf-quic-tls-27.spec
  specs/tools.ietf.org/id/draft-ietf-quic-tls-32.spec
  specs/tools.ietf.org/id/draft-ietf-quic-transport-32.spec
  specs/tools.ietf.org/rfc/rfc8312.spec
Due: unit-tests, compliance

compliance: update draft 24 to draft 32 (#214)
  quic/s2n-quic-core/src/application/error_code.rs
  quic/s2n-quic-core/src/connection/id.rs
  quic/s2n-quic-core/src/stateless_reset_token.rs
  quic/s2n-quic-core/src/stream/id.rs
  quic/s2n-quic-transport/src/connection/connection_impl.rs
  quic/s2n-quic-transport/src/stream/receive_stream.rs
  quic/s2n-quic-transport/src/stream/send_stream.rs
  specs/tools.ietf.org/id/draft-ietf-quic-transport-24.spec
Due: unit-tests, compliance

compliance: update transport draft 22 to draft 32 (#213)
  quic/s2n-quic-core/src/packet/handshake.rs
  quic/s2n-quic-core/src/packet/initial.rs
  quic/s2n-quic-core/src/packet/long.rs
  quic/s2n-quic-core/src/packet/number/mod.rs
  quic/s2n-quic-core/src/packet/retry.rs
  quic/s2n-quic-core/src/packet/short.rs
  quic/s2n-quic-core/src/packet/version_negotiation.rs
  quic/s2n-quic-core/src/packet/zero_rtt.rs
  quic/s2n-quic-transport/src/buffer/receive_buffer.rs
  quic/s2n-quic-transport/src/connection/connection_impl.rs
  specs/tools.ietf.org/id/draft-ietf-quic-transport-22.spec
Due: unit-tests, compliance

compliance: update draft-27 to draft-32
  quic/s2n-quic-transport/src/connection/connection_impl.rs
  quic/s2n-quic-transport/src/space/handshake.rs
  quic/s2n-quic-transport/src/space/initial.rs
  quic/s2n-quic-transport/src/space/mod.rs
  quic/s2n-quic-transport/src/space/rx_packet_numbers/ack_eliciting_transmission.rs
  quic/s2n-quic-transport/src/space/rx_packet_numbers/ack_manager.rs
  quic/s2n-quic-transport/src/space/rx_packet_numbers/ack_transmission_state.rs
  quic/s2n-quic-transport/src/space/tx_packet_numbers.rs
  specs/tools.ietf.org/id/draft-ietf-quic-transport-27.spec
Due: unit-tests, compliance

fix application connection close handler
  quic/s2n-quic-transport/src/space/application.rs
  quic/s2n-quic-transport/src/space/mod.rs
Due: unit-tests

Update RTTEstimator to recovery draft 32
  quic/s2n-quic-core/src/frame/ack_elicitation.rs
  quic/s2n-quic-core/src/recovery/rtt_estimator.rs
  quic/s2n-quic-transport/src/recovery/cubic.rs
  quic/s2n-quic-transport/src/recovery/manager.rs
  quic/s2n-quic-transport/src/recovery/sent_packets.rs
Due: unit-tests

Update recovery draft 30 to recovery draft 32
  quic/s2n-quic-core/src/frame/congestion_controlled.rs
  quic/s2n-quic-transport/src/recovery/manager.rs
  quic/s2n-quic-transport/src/space/application.rs
  quic/s2n-quic-transport/src/space/mod.rs
Due: unit-tests

Update recovery draft 31 to recovery draft 32
  quic/s2n-quic-core/src/recovery/rtt_estimator.rs
  quic/s2n-quic-transport/src/recovery/cubic.rs
  quic/s2n-quic-transport/src/recovery/hybrid_slow_start.rs
  quic/s2n-quic-transport/src/recovery/manager.rs
  quic/s2n-quic-transport/src/space/application.rs
  quic/s2n-quic-transport/src/space/handshake.rs
  quic/s2n-quic-transport/src/space/initial.rs
Due: unit-tests

Remove recovery specs 29, 30, and 31
  specs/tools.ietf.org/id/draft-ietf-quic-recovery-29.spec
  specs/tools.ietf.org/id/draft-ietf-quic-recovery-30.spec
  specs/tools.ietf.org/id/draft-ietf-quic-recovery-31.spec
Due: compliance

compliance: update draft-27 to draft-32 (#217)
  quic/s2n-quic-transport/src/connection/connection_impl.rs
  quic/s2n-quic-transport/src/space/application.rs
  quic/s2n-quic-transport/src/space/handshake.rs
  quic/s2n-quic-transport/src/space/initial.rs
  quic/s2n-quic-transport/src/space/mod.rs
  quic/s2n-quic-transport/src/space/rx_packet_numbers/ack_eliciting_transmission.rs
  quic/s2n-quic-transport/src/space/rx_packet_numbers/ack_manager.rs
  quic/s2n-quic-transport/src/space/rx_packet_numbers/ack_transmission_state.rs
  quic/s2n-quic-transport/src/space/tx_packet_numbers.rs
  specs/tools.ietf.org/id/draft-ietf-quic-transport-27.spec
Due: unit-tests, compliance

compliance: update recovery to draft 32 (#218)
  quic/s2n-quic-core/src/frame/ack_elicitation.rs
  quic/s2n-quic-core/src/frame/congestion_controlled.rs
  quic/s2n-quic-core/src/recovery/rtt_estimator.rs
  quic/s2n-quic-transport/src/recovery/cubic.rs
  quic/s2n-quic-transport/src/recovery/hybrid_slow_start.rs
  quic/s2n-quic-transport/src/recovery/manager.rs
  quic/s2n-quic-transport/src/recovery/sent_packets.rs
  quic/s2n-quic-transport/src/space/application.rs
  quic/s2n-quic-transport/src/space/handshake.rs
  quic/s2n-quic-transport/src/space/initial.rs
  quic/s2n-quic-transport/src/space/mod.rs
  specs/tools.ietf.org/id/draft-ietf-quic-recovery-29.spec
  specs/tools.ietf.org/id/draft-ietf-quic-recovery-30.spec
  specs/tools.ietf.org/id/draft-ietf-quic-recovery-31.spec
Due: unit-tests, compliance

compliance: update draft-29 to draft-32
  quic/s2n-quic-core/src/frame/ack.rs
  quic/s2n-quic-core/src/frame/connection_close.rs
  quic/s2n-quic-core/src/frame/crypto.rs
  quic/s2n-quic-core/src/frame/data_blocked.rs
  quic/s2n-quic-core/src/frame/handshake_done.rs
  quic/s2n-quic-core/src/frame/max_data.rs
  quic/s2n-quic-core/src/frame/max_stream_data.rs
  quic/s2n-quic-core/src/frame/max_streams.rs
  quic/s2n-quic-core/src/frame/mod.rs
  quic/s2n-quic-core/src/frame/new_connection_id.rs
  quic/s2n-quic-core/src/frame/new_token.rs
  quic/s2n-quic-core/src/frame/padding.rs
  quic/s2n-quic-core/src/frame/path_challenge.rs
  quic/s2n-quic-core/src/frame/path_response.rs
  quic/s2n-quic-core/src/frame/ping.rs
  quic/s2n-quic-core/src/frame/reset_stream.rs
  quic/s2n-quic-core/src/frame/retire_connection_id.rs
  quic/s2n-quic-core/src/frame/stop_sending.rs
  quic/s2n-quic-core/src/frame/stream.rs
  quic/s2n-quic-core/src/frame/stream_data_blocked.rs
  quic/s2n-quic-core/src/frame/streams_blocked.rs
  quic/s2n-quic-core/src/path.rs
  quic/s2n-quic-core/src/transport/error.rs
  quic/s2n-quic-core/src/transport/parameters/mod.rs
  quic/s2n-quic-core/src/varint/mod.rs
  quic/s2n-quic-platform/src/buffer/segment.rs
  quic/s2n-quic-transport/src/connection/connection_impl.rs
  quic/s2n-quic-transport/src/connection/connection_trait.rs
  quic/s2n-quic-transport/src/endpoint/initial.rs
  quic/s2n-quic-transport/src/path.rs
  quic/s2n-quic-transport/src/space/application.rs
  quic/s2n-quic-transport/src/stream/stream_manager.rs
  quic/s2n-quic/src/provider/token/default.rs
  specs/tools.ietf.org/id/draft-ietf-quic-transport-29.spec
Due: unit-tests, compliance

compliance: update draft-29 to draft-32 (#219)
  quic/s2n-quic-core/src/frame/ack.rs
  quic/s2n-quic-core/src/frame/connection_close.rs
  quic/s2n-quic-core/src/frame/crypto.rs
  quic/s2n-quic-core/src/frame/data_blocked.rs
  quic/s2n-quic-core/src/frame/handshake_done.rs
  quic/s2n-quic-core/src/frame/max_data.rs
  quic/s2n-quic-core/src/frame/max_stream_data.rs
  quic/s2n-quic-core/src/frame/max_streams.rs
  quic/s2n-quic-core/src/frame/mod.rs
  quic/s2n-quic-core/src/frame/new_connection_id.rs
  quic/s2n-quic-core/src/frame/new_token.rs
  quic/s2n-quic-core/src/frame/padding.rs
  quic/s2n-quic-core/src/frame/path_challenge.rs
  quic/s2n-quic-core/src/frame/path_response.rs
  quic/s2n-quic-core/src/frame/ping.rs
  quic/s2n-quic-core/src/frame/reset_stream.rs
  quic/s2n-quic-core/src/frame/retire_connection_id.rs
  quic/s2n-quic-core/src/frame/stop_sending.rs
  quic/s2n-quic-core/src/frame/stream.rs
  quic/s2n-quic-core/src/frame/stream_data_blocked.rs
  quic/s2n-quic-core/src/frame/streams_blocked.rs
  quic/s2n-quic-core/src/path.rs
  quic/s2n-quic-core/src/transport/error.rs
  quic/s2n-quic-core/src/transport/parameters/mod.rs
  quic/s2n-quic-core/src/varint/mod.rs
  quic/s2n-quic-platform/src/buffer/segment.rs
  quic/s2n-quic-transport/src/connection/connection_impl.rs
  quic/s2n-quic-transport/src/connection/connection_trait.rs
  quic/s2n-quic-transport/src/endpoint/initial.rs
  quic/s2n-quic-transport/src/path.rs
  quic/s2n-quic-transport/src/space/application.rs
  quic/s2n-quic-transport/src/stream/stream_manager.rs
  quic/s2n-quic/src/provider/token/default.rs
  specs/tools.ietf.org/id/draft-ietf-quic-transport-29.spec
Due: unit-tests, compliance

add specs to ci workflow
  .github/workflows/ci.yml
Due: none

compliance: add the ability to lax test requirements
  .github/workflows/ci.yml
  common/compliance/cargo-compliance/src/extract.rs
  common/compliance/cargo-compliance/src/report/lcov.rs
  common/compliance/cargo-compliance/src/report/mod.rs
Due: none

initialize significant lines as uncovered
  .github/workflows/ci.yml
  common/compliance/cargo-compliance/src/report/lcov.rs
Due: none

compliance: implement json and html reports
  .github/workflows/ci.yml
  common/compliance/cargo-compliance/Cargo.toml
  common/compliance/cargo-compliance/src/annotation.rs
  common/compliance/cargo-compliance/src/extract.rs
  common/compliance/cargo-compliance/src/parser.rs
  common/compliance/cargo-compliance/src/report/html.rs
  common/compliance/cargo-compliance/src/report/json.rs
  common/compliance/cargo-compliance/src/report/lcov.rs
  common/compliance/cargo-compliance/src/report/mod.rs
  common/compliance/cargo-compliance/src/report/status.rs
  common/compliance/cargo-compliance/src/source.rs
  common/compliance/cargo-compliance/www/.gitignore
  common/compliance/cargo-compliance/www/package.json
  common/compliance/cargo-compliance/www/public/index.html
  common/compliance/cargo-compliance/www/public/script.js
  common/compliance/cargo-compliance/www/src/App.js
  common/compliance/cargo-compliance/www/src/index.js
  common/compliance/cargo-compliance/www/src/link.js
  common/compliance/cargo-compliance/www/src/nav.js
  common/compliance/cargo-compliance/www/src/result.js
  common/compliance/cargo-compliance/www/src/section.js
  common/compliance/cargo-compliance/www/src/spec.js
Due: none

upload compliance to s3
  .github/workflows/ci.yml
Due: none

Fix Sha interpolation
  .github/workflows/ci.yml
Due: none

cp instead of sync
  .github/workflows/ci.yml
Due: none

Add integrity check for Retry packets.
  quic/s2n-quic-core/src/crypto/mod.rs
  quic/s2n-quic-core/src/crypto/retry.rs
  quic/s2n-quic-ring/Cargo.toml
  quic/s2n-quic-ring/src/lib.rs
  quic/s2n-quic-ring/src/retry.rs
Due: unit-tests

improve report usability a bit
  common/compliance/cargo-compliance/src/report/json.rs
  common/compliance/cargo-compliance/www/Makefile
  common/compliance/cargo-compliance/www/package.json
  common/compliance/cargo-compliance/www/public/index.html
  common/compliance/cargo-compliance/www/public/script.js
  common/compliance/cargo-compliance/www/src/App.js
  common/compliance/cargo-compliance/www/src/result.js
  common/compliance/cargo-compliance/www/src/section.js
  common/compliance/cargo-compliance/www/src/spec.js
Due: none

fix datagrid error on link transition
  common/compliance/cargo-compliance/www/src/section.js
  common/compliance/cargo-compliance/www/src/spec.js
Due: none

rebuild script.js
  common/compliance/cargo-compliance/www/public/script.js
Due: none

address PR comments
  common/compliance/cargo-compliance/src/annotation.rs
  common/compliance/cargo-compliance/src/report/mod.rs
  common/compliance/cargo-compliance/www/package.json
  common/compliance/cargo-compliance/www/public/script.js
  common/compliance/cargo-compliance/www/src/result.js
  common/compliance/cargo-compliance/www/src/section.js
  common/compliance/cargo-compliance/www/src/spec.js
Due: none

reword requirement statuses
  common/compliance/cargo-compliance/www/public/script.js
  common/compliance/cargo-compliance/www/src/section.js
  common/compliance/cargo-compliance/www/src/spec.js
Due: none

compliance: implement json and html reports (#222)
  .github/workflows/ci.yml
  common/compliance/cargo-compliance/Cargo.toml
  common/compliance/cargo-compliance/src/annotation.rs
  common/compliance/cargo-compliance/src/extract.rs
  common/compliance/cargo-compliance/src/parser.rs
  common/compliance/cargo-compliance/src/report/html.rs
  common/compliance/cargo-compliance/src/report/json.rs
  common/compliance/cargo-compliance/src/report/lcov.rs
  common/compliance/cargo-compliance/src/report/mod.rs
  common/compliance/cargo-compliance/src/report/status.rs
  common/compliance/cargo-compliance/src/source.rs
  common/compliance/cargo-compliance/www/.gitignore
  common/compliance/cargo-compliance/www/Makefile
  common/compliance/cargo-compliance/www/package.json
  common/compliance/cargo-compliance/www/public/index.html
  common/compliance/cargo-compliance/www/public/script.js
  common/compliance/cargo-compliance/www/src/App.js
  common/compliance/cargo-compliance/www/src/index.js
  common/compliance/cargo-compliance/www/src/link.js
  common/compliance/cargo-compliance/www/src/nav.js
  common/compliance/cargo-compliance/www/src/result.js
  common/compliance/cargo-compliance/www/src/section.js
  common/compliance/cargo-compliance/www/src/spec.js
Due: none

Adding compliance for section 5.1
  quic/s2n-quic-transport/src/recovery/manager.rs
Due: unit-tests

compliance: implement exception support
  common/compliance/cargo-compliance/src/source.rs
  specs/exceptions/transport/2.2.toml
Due: none

Adding compliance for section 5
  quic/s2n-quic-core/src/recovery/rtt_estimator.rs
  quic/s2n-quic-transport/src/recovery/manager.rs
Due: unit-tests

Adding compliance for section 6
  quic/s2n-quic-transport/src/recovery/cubic.rs
  quic/s2n-quic-transport/src/recovery/manager.rs
Due: unit-tests

Adding compliance for section 7
  quic/s2n-quic-core/src/recovery/rtt_estimator.rs
  quic/s2n-quic-transport/src/recovery/cubic.rs
  quic/s2n-quic-transport/src/recovery/manager.rs
Due: unit-tests

PR feedback
  quic/s2n-quic-core/src/crypto/retry.rs
  quic/s2n-quic-ring/src/retry.rs
Due: unit-tests

PR Feedback
  quic/s2n-quic-core/src/crypto/mod.rs
  quic/s2n-quic-core/src/crypto/retry.rs
  quic/s2n-quic-ring/src/retry.rs
Due: unit-tests

Add integrity check for Retry packets. (#223)
  quic/s2n-quic-core/src/crypto/mod.rs
  quic/s2n-quic-core/src/crypto/retry.rs
  quic/s2n-quic-ring/Cargo.toml
  quic/s2n-quic-ring/src/lib.rs
  quic/s2n-quic-ring/src/retry.rs
Due: unit-tests

fix exceptions in UI
  common/compliance/cargo-compliance/www/public/script.js
  common/compliance/cargo-compliance/www/src/section.js
  common/compliance/cargo-compliance/www/src/spec.js
Due: none

Applying suggestion
  quic/s2n-quic-transport/src/recovery/manager.rs
Due: unit-tests

Path conditions:
  unit-tests: any of: common/*/src/**/*.rs, quic/*/src/**/*.rs, but not: common/compliance/**/*, **/tests.rs, **/tests/**, **/test/**, **/testing/**, **/testing.rs
  compliance: any of: specs/**/*.spec, but not: common/compliance/**/*, **/tests.rs, **/tests/**, **/test/**, **/testing/**, **/testing.rs
